<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="Piyush Mehta Works" />
    <meta
      name="description"
      content="
    Made with Love by Piyush Mehta"
    />
    <meta
      name="description"
      content="
      Piyush Mehta。"
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"
    />
    <title>EHR Dashboard</title>
  </head>
  <body>
    <noscript>Out-of-the-box mid-stage front/design solution!</noscript>
    <div id="root">
      <style>
        html,
        body,
        #root {
          height: 100%;
          margin: 0;
          padding: 0;
        }
        #root {
          background-image: url('/home_bg.png');
          background-repeat: no-repeat;
          background-size: 100% auto;
        }
        .page-loading-warp {
          padding: 98px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        .piyush-lib-spin {
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          margin: 0;
          padding: 0;
          color: rgba(0, 0, 0, 0.65);
          font-size: 14px;
          font-varipiyush-lib: tabular-nums;
          line-height: 1.5;
          list-style: none;
          -webkit-font-feature-settings: 'tnum';
          font-feature-settings: 'tnum';
          position: absolute;
          display: none;
          color: #1890ff;
          text-align: center;
          vertical-align: middle;
          opacity: 0;
          -webkit-transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
          transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
          transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
          transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
            -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
        }

        .piyush-lib-spin-spinning {
          position: static;
          display: inline-block;
          opacity: 1;
        }

        .piyush-lib-spin-dot {
          position: relative;
          display: inline-block;
          font-size: 20px;
          width: 20px;
          height: 20px;
        }

        .piyush-lib-spin-dot-item {
          position: absolute;
          display: block;
          width: 9px;
          height: 9px;
          background-color: #1890ff;
          border-radius: 100%;
          -webkit-transform: scale(0.75);
          -ms-transform: scale(0.75);
          transform: scale(0.75);
          -webkit-transform-origin: 50% 50%;
          -ms-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
          opacity: 0.3;
          -webkit-animation: piyush-libSpinMove 1s infinite linear alternate;
          animation: piyush-libSpinMove 1s infinite linear alternate;
        }

        .piyush-lib-spin-dot-item:nth-child(1) {
          top: 0;
          left: 0;
        }

        .piyush-lib-spin-dot-item:nth-child(2) {
          top: 0;
          right: 0;
          -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
        }

        .piyush-lib-spin-dot-item:nth-child(3) {
          right: 0;
          bottom: 0;
          -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
        }

        .piyush-lib-spin-dot-item:nth-child(4) {
          bottom: 0;
          left: 0;
          -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
        }

        .piyush-lib-spin-dot-spin {
          -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
          transform: rotate(45deg);
          -webkit-animation: piyush-libRotate 1.2s infinite linear;
          animation: piyush-libRotate 1.2s infinite linear;
        }

        .piyush-lib-spin-lg .piyush-lib-spin-dot {
          font-size: 32px;
          width: 32px;
          height: 32px;
        }

        .piyush-lib-spin-lg .piyush-lib-spin-dot i {
          width: 14px;
          height: 14px;
        }

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          .piyush-lib-spin-blur {
            background: #fff;
            opacity: 0.5;
          }
        }

        @-webkit-keyframes piyush-libSpinMove {
          to {
            opacity: 1;
          }
        }

        @keyframes piyush-libSpinMove {
          to {
            opacity: 1;
          }
        }

        @-webkit-keyframes piyush-libRotate {
          to {
            -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
          }
        }

        @keyframes piyush-libRotate {
          to {
            -webkit-transform: rotate(405deg);
            transform: rotate(405deg);
          }
        }
      </style>
      <div
        style="
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          min-height: 420px;
          height: 100%;
        "
      >
        <div class="page-loading-warp">
          <div class="piyush-lib-spin piyush-lib-spin-lg piyush-lib-spin-spinning">
            <span class="piyush-lib-spin-dot piyush-lib-spin-dot-spin"
              ><i class="piyush-lib-spin-dot-item"></i><i class="piyush-lib-spin-dot-item"></i
              ><i class="piyush-lib-spin-dot-item"></i><i class="piyush-lib-spin-dot-item"></i
            ></span>
          </div>
        </div>
        <div style="display: flex; justify-content: center; align-items: center;">
          <img
            src="https://avatars2.githubusercontent.com/u/45168903?s=200&v=4"
            width="32"
            style="margin-right: 8px;"
          />
          piyush-lib Design
        </div>
      </div>
    </div>
  </body>
</html>
